<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 代表这个文件的命名空间,根据这个名称可以定位到这个文件 -->
<mapper namespace="com.zhiyou.mapper.CourseMapper">
	<resultMap type="course" id="courseMap">
		<id column="id" property="id"/>
		<result column="course_title" property="course_title"/>
		<result column="course_desc" property="course_desc"/>
		<result column="subject_id" property="subject_id"/>
	</resultMap>
		
	<insert id="add" parameterType="course">
		insert into course values(#{id},#{course_title},#{course_desc},#{subject_id});
	</insert>

	<delete id="delete">
		delete from course where id=#{dangesuiyixie};	
	</delete>

	 <update id="update" parameterType="course">  
	 
		update course  
			<set>		
					<if test="course_title!=null">
						course_title=#{course_title},
					</if>
					<if test="course_desc!=null">
						course_desc=#{course_desc},
					</if>
					<if test="subject_id!=0">
						subject_id=#{subject_id},
					</if>	
				</set>	
			where id=#{id}	
		
	</update> 
	


	<select id="selectAll" resultMap="courseMap" >
		select * from course
	</select>
	
	<select id="selectByID" resultMap="courseMap">
		select * from course where id=#{123}
	</select>
	
	
	<!-- 模糊查询 -->
	<select id="selectLike" resultMap="courseMap" parameterType="course">
		<include refid="as"/>
	</select>
	<sql id="as">
		select * from course 
		<trim prefix="where" prefixOverrides="and|or|abcd" suffixOverrides="qwer">
			<if test="id!=0">
				id like concat('%',#{id},'%')
			</if>
			<if test="course_title!=null">
				 course_title like concat('%',#{course_title},'%')
			</if>
			<if test="course_desc!=null">
				 course_desc like concat('%',#{course_desc},'%')
			</if>
			<if test="subject_id!=0">
				and	subject_id like concat('%',#{subject_id},'%')
			</if>
		 		qwer
		</trim>
	</sql>
 
 
  
	<!-- 批量删除 -->
	<delete id="deleteAll">
		delete from course where id in
		<foreach open="("  collection="array" item="id" index="i" separator="," close=")"> 
			#{id}
		</foreach>
	</delete>
</mapper>