<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 代表这个文件的命名空间,根据这个名称可以定位到这个文件 -->
<mapper namespace="com.zhiyou.mapper.SpeakerMapper">
	<resultMap type=speaker id="speakerMap">
		<id column="id" property="id"/>
		<result column="speaker_name" property="speaker_name"/>
		<result column="speaker_desc" property="speaker_desc"/>
		<result column="speaker_job" property="speaker_job"/>
		<result column="pic_url" property="pic_url"/>
	</resultMap>

	<insert id="add" parameterType="speaker">
		insert into course values(#{id},#{course_title},#{course_desc},#{subject_id});
	</insert>

	<delete id="delete">
		delete from course where id=#{dangesuiyixie};	
	</delete>

	 <update id="update" parameterType="speaker">  
	 
		update course  
			<set>		
					<if test="speaker_name!=null">
						speaker_name=#{speaker_name},
					</if>
					<if test="speaker_desc!=null">
						speaker_desc=#{speaker_desc},
					</if>
					<if test="speaker_job!=null">
						speaker_job=#{speaker_job},
					</if>
					<if test="pic_url!=null">
						pic_url=#{pic_url},
					</if>
						
				</set>	
			where id=#{id}	
		
	</update> 
	

	<select id="selectAll" resultMap="speakerMap" >
		select * from course
	</select>
	
	<select id="selectByID" resultMap="speakerMap">
		select * from course where id=#{123}
	</select>
	
	
	<!-- 模糊查询 -->
	<select id="selectLike" resultMap="speakerMap" parameterType="speaker">
		<include refid="as"/>
	</select>
	<sql id="as">
		select * from course 
		<trim prefix="where" prefixOverrides="and|or|abcd" suffixOverrides="qwer">
			<if test="id!=0">
				id like concat('%',#{id},'%')
			</if>
			<if test="speaker_name!=null">
				 speaker_name like concat('%',#{speaker_name},'%')
			</if>
			<if test="speaker_desc!=null">
				 speaker_desc like concat('%',#{speaker_desc},'%')
			</if>
			<if test="sspeaker_job!=null">
				 speaker_job like concat('%',#{speaker_job},'%')
			</if>
			<if test="pic_url!=null">
				 pic_url like concat('%',#{pic_url},'%')
			</if>
		 		qwer
		</trim>
	</sql>

 
  
	<!-- 批量删除 -->
	<delete id="deleteAll">
		delete from course where id in
		<foreach open="("  collection="array" item="id" index="i" separator="," close=")"> 
			#{id}
		</foreach>
	</delete>
</mapper>